<html>
  <h1>Create a new Landmark</h1>
  <form action="/landmarks" method="POST">
    <label><h3>Landmark Name:</h3> </label>
    <input type="text" name="landmark[name]" id="landmark_name"><br><br>
    <label><h3>Year Completed::</h3> </label>
    <input type="text" name="landmark[year_completed]" id="landmark_year_completed"><br><br>
    <input type="submit" value="Create New Landmark">
  </form>
</html>
